<h2>Search Authors</h2>
<form action="/authors" method="GET">
  <label for="name"></label>
  <input type="text" name="name" id="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>
<% for (const author of authors) { %>
  <div><%= author.name %></div>
<% } %>